node_modules/
build/
dist/
coverage/
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
.vscode/
.idea/
.cursor/
/.parcel-cache
/.cache
public/static
/*.local
yarn.lock
package-lock.json
credentials.json
.firebase/node_modules/
.env
.env.local
.DS_Store
build/
dist/
*.log
.vscode/
.idea/
firebase-debug.log
firestore-debug.log
ui-debug.log
frontend/build/
assets/*.mp4
assets/*.zip
assets/*.png


